@model BTE.RMS.Presentation.Web.ViewModel.Meeting.MeetingViewModel
@{
    ViewBag.Title = "ثبت قرار ملاقات";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<h2 class="page-header">ثبت قرار ملاقات</h2>
@section Styles{
    <link href="~/Content/StyleAttendees.css" rel="stylesheet" />
}
@using (Html.BeginForm("Create", "Meetings", FormMethod.Post, new { @id = "frmCreateMeeting" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="Attendees" id="Attendees" value="" />
        <div class="form-group">
            @Html.LabelFor(model => model.MeetingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="MeetingType" id="MeetingType" data-val-required="لطفا نوع قرار را وارد کنید" data-val="true">
                    <option value=""></option>
                    <option value="1">کاری</option>
                    <option value="2">غیرکاری</option>
                </select>
                @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon" data-trigger="click" data-targetselector="#DateInput">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input name="StartDate" type="text" class="form-control" data-mddatetimepicker="true" id="DateInput" placeholder="تاریخ" data-englishnumber="false" />
                </div>
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                <div class="input-group clockpicker">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AttendeesList, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.AttendeesList, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.AttendeesList, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Attendees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="AttendeesDiv">
                        <div id="containment">
                            <div class="column left">
                                <span>حاضرین جلسه</span>
                                <ul class="sortable-list" id="attendees-list"></ul>
                            </div>
                            <div class="column left">
                                <span>کل کاربران</span>
                                <ul class="sortable-list">
                                    <li class="sortable-item" id="1">User1</li>
                                    <li class="sortable-item" id="2">User2</li>
                                    <li class="sortable-item" id="3">User3</li>
                                    <li class="sortable-item" id="4">User4</li>
                                </ul>
                            </div>
                            <div class="clearer">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.RepeatingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RepeatingType" id="RepeatingType" data-val-required="لطفا فعالیت تکرارشونده را وارد کنید" data-val="true">
                    <option value=""></option>
                    <option value="1">هفتگی</option>
                    <option value="2">ماهانه</option>
                    <option value="3">سالانه</option>
                </select>
                @Html.ValidationMessageFor(model => model.RepeatingType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemindType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RemindType" id="RemindType" data-val-required="لطفا شیوه یادآوری را وارد کنید" data-val="true">
                    <option value=""></option>
                    <option value="1">Alarm</option>
                    <option value="2">Telegram</option>
                    <option value="3">SMS</option>
                    <option value="4">Notify</option>
                </select>
                @Html.ValidationMessageFor(model => model.RemindType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemindeTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RemindeTime" id="RemindeTime" data-val-required="لطفا زمان یادآوری را وارد کنید" data-val="true">
                    <option value=""></option>
                    <option value="1">سر وقت</option>
                    <option value="2">5 دقیقه</option>
                    <option value="3">10 دقیقه</option>
                    <option value="4">15 دقیقه</option>
                </select>
                @Html.ValidationMessageFor(model => model.RemindeTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Agenda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Agenda, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.Agenda, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ایجاد" class="btn btn-default" />
                @Html.ActionLink("برگشت به لیست", "Index", "Meetings", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>


}
@section scripts{
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    @*<script src="~/Scripts/jquery-1.4.2.min.js"></script>*@
    @*<script src="~/Scripts/jquery-ui-1.8.custom.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript">

        //$(document).ready(function () {

        //    $('#AttendeesDiv .sortable-list').sortable({
        //        connectWith: '#AttendeesDiv .sortable-list',
        //        containment: '#containment'
        //    });

        //});

        //$('#frmCreateMeeting').submit(function (e) {
        //    $("#Attendees").val('');
        //    e.preventDefault();
        //    $('#attendees-list').find('li').each(function () {
        //        var myID = $(this).attr('id');
        //        var A = $("#Attendees").val();
        //        var Attendees = A + "," + myID;
        //        $("#Attendees").val(Attendees);
        //        alert(Attendees);

        //    });

        //});

    </script>
}