@model BTE.RMS.Presentation.Web.ViewModel.Meeting.MeetingViewModel
@{
    ViewBag.Title = "ویرایش قرار ملاقات";
    Layout = "~/Views/Shared/_Layout2.cshtml";

}
<h2 class="page-header">ویرایش قرار ملاقات</h2>
@section Styles{
    <link href="~/Content/StyleAttendees.css" rel="stylesheet" />
}
@using (Html.BeginForm("Modify", "Meetings", FormMethod.Post, new { @id = "frmCreateMeeting" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <input type="hidden" name="Attendees" id="Attendees" value="" />
        <div class="form-group">
            @Html.LabelFor(model => model.MeetingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="MeetingType" id="MeetingType" data-val-required="لطفا نوع قرار را وارد کنید" data-val="true">
                    @{
                         string[] MeetingTypenames = { "کاری", "غیرکاری" };
                       
                         for (int i = 1; i < 3; i++)
                         {
                             if (i == Model.MeetingType)
                             {
                                 <option value="@i" selected>@MeetingTypenames[i - 1]</option>
                             }
                             else
                             {
                                 <option value="@i">@MeetingTypenames[i - 1]</option>
                             }
                         }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.MeetingType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Subject, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Subject, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="input-group">
                    <div class="input-group-addon" data-trigger="click" data-targetselector="#DateInput">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                    <input name="StartDate" type="text" class="form-control" value="@Model.StartDate" data-mddatetimepicker="true" id="DateInput" placeholder="تاریخ" data-englishnumber="false" />
                </div>
                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10 ">
                <div class="input-group clockpicker">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-time"></span>
                    </span>
                    @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Duration, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Duration, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Duration, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Attendees, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Attendees, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.Attendees, "", new { @class = "text-danger" })
            </div>
        </div>
        @*<div class="form-group">
                @Html.LabelFor(model => model.Attendees, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div id="AttendeesDiv">
                        <div id="containment">
                            <div class="column left">
                                <span>حاضرین جلسه</span>
                                <ul class="sortable-list" id="attendees-list"></ul>
                            </div>
                            <div class="column left">
                                <span>کل کاربران</span>
                                <ul class="sortable-list">
                                    <li class="sortable-item" id="1">User1</li>
                                    <li class="sortable-item" id="2">User2</li>
                                    <li class="sortable-item" id="3">User3</li>
                                    <li class="sortable-item" id="4">User4</li>
                                </ul>
                            </div>
                            <div class="clearer">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="form-group">
            @Html.LabelFor(model => model.RepeatingType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RepeatingType" id="RepeatingType" data-val-required="لطفا فعالیت تکرارشونده را وارد کنید" data-val="true">
                    <option value=""></option>
                    @{
                         string[] RepeatingTypenames = { "هفتگی", "ماهانه", "سالانه" };

                         for (int i = 1; i < 4; i++)
                         {
                             if (i == Model.RepeatingType)
                             {
                                <option value="@i" selected>@RepeatingTypenames[i - 1]</option>
                             }
                             else
                             {
                                <option value="@i">@RepeatingTypenames[i - 1]</option>
                             }
                         }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.RepeatingType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemindType, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RemindType" id="RemindType" data-val-required="لطفا شیوه یادآوری را وارد کنید" data-val="true">
                    <option value=""></option>
                    @{
                         string[] RemindTypenames = { "Alarm", "Telegram", "SMS","Notify" };

                         for (int i = 1; i < 5; i++)
                         {
                             if (i == Model.RemindType)
                             {
                                <option value="@i" selected>@RemindTypenames[i - 1]</option>
                             }
                             else
                             {
                                <option value="@i">@RemindTypenames[i - 1]</option>
                             }
                         }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.RemindType, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.RemindeTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select class="form-control" name="RemindeTime" id="RemindeTime" data-val-required="لطفا زمان یادآوری را وارد کنید" data-val="true">
                    <option value=""></option>
                    @{
                         string[] RemindeTimenames = { "سر وقت", "5 دقیقه", "10 دقیقه", "15 دقیقه" };

                         for (int i = 1; i < 5; i++)
                         {
                             if (i == Model.RemindeTime)
                             {
                                <option value="@i" selected>@RemindeTimenames[i - 1]</option>
                             }
                             else
                             {
                                <option value="@i">@RemindeTimenames[i - 1]</option>
                             }
                         }
                    }
                </select>
                @Html.ValidationMessageFor(model => model.RemindeTime, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Agenda, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Agenda, new { @class = "form-control", style = "height: 100px;" })
                @Html.ValidationMessageFor(model => model.Agenda, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="ویرایش" class="btn btn-default" />
                @Html.ActionLink("برگشت به لیست", "Index", "Meetings", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>


}
@section scripts{
    @*<script src="~/Scripts/jquery-ui.min.js"></script>*@
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    @*<script src="~/Scripts/jquery-1.4.2.min.js"></script>*@
    @*<script src="~/Scripts/jquery-ui-1.8.custom.min.js"></script>*@
    <script type="text/javascript">
        @*alert(@Model.StartDate.ToString());
        var date="'"+@Model.StartDate.ToString()+"'";*@
        //alert(date);
        $('#DateInput').val(date);
        //$(document).ready(function () {

        //    $('#AttendeesDiv .sortable-list').sortable({
        //        connectWith: '#AttendeesDiv .sortable-list',
        //        containment: '#containment'
        //    });

        //});

        //$('#frmCreateMeeting').submit(function (e) {
        //    $("#Attendees").val('');
        //    e.preventDefault();
        //    $('#attendees-list').find('li').each(function () {
        //        var myID = $(this).attr('id');
        //        var A = $("#Attendees").val();
        //        var Attendees = A + "," + myID;
        //        $("#Attendees").val(Attendees);
        //    });
        //    $('#frmCreateMeeting').submit();
        //});

    </script>
}