@model BTE.RMS.Presentation.Web.ViewModel.TaskVM

@{
    ViewBag.Title = "حذف یادداشت /قرار ملاقات";
}

<h2 class="page-header">حذف یادداشت /قرار ملاقات</h2>

<h4>آیا می خواهید یادداشت یا قرار ملاقات مورد نظر را حذف کنید؟</h4>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Task.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.WorkProgressPercent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.WorkProgressPercent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.StartTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.StartTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.EndTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.EndTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Task.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Task.CategoryId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="حذف" class="btn btn-default" />
        </div>
    }

    <hr/>

    <div>
        @Html.ActionLink("برگشت به لیست", "Index")
    </div>
</div>
