@model BTE.RMS.Presentation.Web.ViewModel.TaskListVM

@{
    ViewBag.Title = "Tasks";
}

<h2 class="page-header">Notes And Appointments</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
                <th>Title</th>
                <th>Date</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Progress</th>
                <th>Category</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TaskList)
            {
                <tr>
                    <td></td>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.StartDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.StartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.EndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.WorkProgressPercent)
                        %
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.CategoryTitle)
                    </td>
                    <td>
                        @Html.ActionLink("Modify", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<p>
    @Html.ActionLink("New Note/Apointment", "Create")
</p>