<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>مدیریت آرامش -بانک مهر</title>

    <!-- Bootstrap Core CSS RTL-->
    <link href="/Content/bootstrap-rtl.min.css" rel="stylesheet">
    @*<link rel="stylesheet" href="/Content/bootstrap-theme-rtl.min.css" />*@

    <!-- Custom CSS -->
    <link href="/Content/Site.css" rel="stylesheet">
    <link href="/Content/Clock/Clock.css" rel="stylesheet">
    <link rel="stylesheet" href="/Content/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.css" />
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap-clockpicker.css">
    <link rel="stylesheet" type="text/css" href="/Content/style.css">
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap-rtl.js"></script>


    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->




</head>

<body>
    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <img class="logo" src="~/Content/Images/Logo.png" height="50" />

                @Html.ActionLink("سیستم مدیریت آرامش", "Index", "Home", null, new { @class = "navbar-brand " })
            </div>
            <!-- Top Menu Items -->
            <ul class="nav  top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-user">

                        </i> احسان محمدی <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> صفحه شخصی</a>
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> تنظیمات</a>
                        </li>

                        <li class="divider">

                        </li>

                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> خروج</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#today">
                            <i class="fa fa-fw fa-arrows-v"></i>امروز<i class="fa fa-fw fa-caret-down"></i>
                        </a>

                        <ul id="today" class="collapse">
                            <li>
                                @Html.ActionLink("تقویم و مناسبت های روز", "Index", "Home")
                            </li>

                            <li>
                                @Html.ActionLink("مطالب و نکات آموزشی روز", "EducationalSubject", "Home")
                            </li>

                            <li>
                                @Html.ActionLink("خلاصه برنامه های روز", "Planing", "Home")
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#strategic">
                            <i class="fa fa-fw fa-arrows-v"></i>مدیریت راهبردی شخصی<i class="fa fa-fw fa-caret-down"></i>
                        </a>

                        <ul id="strategic" class="collapse">
                            <li>
                                @*@Html.ActionLink("تقویم و مناسبت های روز", "Index", "Home")*@
                                @Html.ActionLink("افق چشم انداز من","Index","Strategic")
                            </li>

                            <li>
                                @Html.ActionLink("اهداف کلی", "OveralObjectiveList", "Strategic")
                            </li>

                            <li>
                                @Html.ActionLink("اهداف فرعی", "SecondaryObjectiveList", "Strategic")
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#timemg">
                            <i class="fa fa-fw fa-arrows-v"></i>مدیریت زمان<i class="fa fa-fw fa-caret-down"></i>
                        </a>

                        <ul id="timemg" class="collapse">
                            <li>
                                @Html.ActionLink("یادداشت ها / قرار ملاقات ها", "Index", "Tasks")
                            </li>

                            <li>
                                @Html.ActionLink("یادداشت / قرار ملاقات جدید", "Create", "Tasks")
                            </li>

                            <li>
                                @Html.ActionLink("مرور بازبینی", "ReviewTaskList", "Tasks")
                            </li>

                            <li>
                                @Html.ActionLink("سالنما", "CalenderYearView", "Tasks")
                            </li>

                            <li>
                                <a href="#">محاسبات تقویمی</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="/Scripts/jquery-2.1.4.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap-rtl.js"></script>

    <script src="/Scripts/MdBootstrapPersianDateTimePicker/jalaali.js" type="text/javascript"></script>
    <script src="/Scripts/MdBootstrapPersianDateTimePicker/jquery.Bootstrap-PersianDateTimePicker.js" type="text/javascript"></script>
    <script type="text/javascript" src="/Scripts/bootstrap-clockpicker.js"></script>
    <script type="text/javascript">
        $('.clockpicker').clockpicker({
            placement: 'top',
            align: 'right',
        autoclose: true
    });
    </script>

    @RenderSection("scripts", required: false)


</body>
</html>
