<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>مدیریت آرامش -بانک مهر</title>

    <!-- Bootstrap Core CSS RTL-->
    <link href="/Content/bootstrap-rtl.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Content/Site.css" rel="stylesheet">
    <link href="/Content/Clock/Clock.css" rel="stylesheet">


</head>

<body>

    <div id="wrapper">

        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img class="logo" src="~/Content/Images/Logo.png" height="50" />

                @Html.ActionLink("سیستم مدیریت آرامش", "Index", "Home", null, new { @class = "navbar-brand " })
            </div>
            <!-- Top Menu Items -->
            <ul class="nav  top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> احسان محمدی <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> صفحه شخصی</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> تنظیمات</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> خروج</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#today">
                            <i class="fa fa-fw fa-arrows-v"></i>امروز<i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="today" class="collapse">
                            <li>
                                @Html.ActionLink("تقویم و مناسبت های روز", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("مطالب و نکات آموزشی روز", "EducationalSubject", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("خلاصه برنامه های روز", "Planing", "Home")
                            </li>
                        </ul>
                    </li>

                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#timemg">
                            <i class="fa fa-fw fa-arrows-v"></i>مدیریت زمان<i class="fa fa-fw fa-caret-down"></i>
                        </a>
                        <ul id="timemg" class="collapse">
                            <li>
                                @Html.ActionLink("یادداشت ها / قرار ملاقات ها", "Index", "Tasks")
                            </li>
                            <li>
                                <a href="#">یادداشت / قرار ملاقات جدید</a>
                            </li>
                            <li>
                                <a href="#">مرور بازبینی</a>
                            </li>
                            <li>
                                <a href="#">سالنما</a>
                            </li>

                            <li>
                                <a href="#">محاسبات تقویمی</a>
                            </li>
                        </ul>
                    </li>


                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- jQuery -->
    <script src="/Scripts/jquery-2.1.4.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/Scripts/bootstrap-rtl.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            setInterval(function () {
                var seconds = new Date().getSeconds();
                var sdegree = seconds * 6;
                var srotate = "rotate(" + sdegree + "deg)";

                $("#sec").css({ "-moz-transform": srotate, "-webkit-transform": srotate });

            }, 1000);


            setInterval(function () {
                var hours = new Date().getHours();
                var mins = new Date().getMinutes();
                var hdegree = hours * 30 + (mins / 2);
                var hrotate = "rotate(" + hdegree + "deg)";

                $("#hour").css({ "-moz-transform": hrotate, "-webkit-transform": hrotate });

            }, 1000);


            setInterval(function () {
                var mins = new Date().getMinutes();
                var mdegree = mins * 6;
                var mrotate = "rotate(" + mdegree + "deg)";

                $("#min").css({ "-moz-transform": mrotate, "-webkit-transform": mrotate });

            }, 1000);

        });

    </script>
    @RenderSection("scripts", required: false)


</body>
</html>
