@model BTE.RMS.Presentation.Web.ViewModel.Home.TodayVM
@{
    ViewBag.Title = "تقویم و مناسبت های روز";
}

@*<h2 class="page-header">@ViewBag.Title</h2>*@

<div class="panel panel-default">
    <div class="panel-heading">
        تاریخ امروز
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <span style="font-weight: bold; display: inline-block;">
                    @Html.DisplayNameFor(model => model.PersianDate) :
                </span>
                <span>
                    @Html.DisplayFor(model => model.PersianDate)
                </span>
            </div>
            <div class="col-md-4">
                <span style="font-weight: bold">
                    @Html.DisplayNameFor(model => model.Date) :
                </span>
                <span style="font-family: arial;">
                    @Html.DisplayFor(model => model.Date)
                </span>
            </div>
            <div class="col-md-4">
                <span style="font-weight: bold">
                    @Html.DisplayNameFor(model => model.ArabicDate) :
                </span>
                <span>
                    @Html.DisplayFor(model => model.ArabicDate)
                </span>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        جملات قصار
    </div>
    <div class="panel-body">
        <div>
            وقتی زندگی چیز زیادی به شما نمی دهد، بخاطر این است كه شما چیز زیادی از آن نخواسته اید
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6 col-sm-6" style="text-align: center;">

        <ul id="clock">
            <li id="sec"></li>
            <li id="hour"></li>
            <li id="min"></li>
        </ul>


    </div>
    <div class="col-md-6 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                اوقات شرعی به افق شهرها
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control">
                            <option selected="selected" value="volvo">تهران</option>
                        </select>

                    </div>
                    <div class="col-md-6">
                        <select class="form-control">
                            <option value="volvo">تهران</option>
                        </select>
                    </div>
                </div>

            </div>
        </div>
        <div class="form-horizontal">
            <div class="col-sm-6">
                <span class="small ephemerisAzanMorning">
                    @Html.DisplayNameFor(model => model.AzanSobh)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.AzanSobh)
                </span> <br>
                <span class="small ephemerisAzanSunrise">
                    @Html.DisplayNameFor(model => model.Sunrise)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.Sunrise)
                </span> <br>
                <span class="small ephemerisAzanMoon">
                    @Html.DisplayNameFor(model => model.AzanZohr)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.AzanZohr)
                </span>
            </div>
            <div class="col-sm-6">
                <span class="small ephemerisAzanSunset">
                    @Html.DisplayNameFor(model => model.SunDown)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.SunDown)
                </span> <br>
                <span class="small ephemerisAzanNight">
                    @Html.DisplayNameFor(model => model.AzanMaghreb)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.AzanMaghreb)
                </span> <br>
                <span class="small ephemerisMidNight">
                    @Html.DisplayNameFor(model => model.MidNight)
                </span>
                <span class="inlineBlock ltr text-nowrap">
                    @Html.DisplayFor(model => model.MidNight)
                </span>
            </div>
        </div>
    </div>

</div>

<div class="row">

    <div class="panel panel-default">
        <div class="panel-heading">
            مناسبت های امروز
        </div>
        <div class="panel-body">
            <div>
                @Html.DisplayFor(model => model.TodayEventPersian)
                <br/>
                @Html.DisplayFor(model => model.TodayEventArabic)
            </div>
        </div>

    </div>
</div>
@section Scripts
{
    <script type="text/javascript">

        $(document).ready(function () {

            setInterval(function () {
                var seconds = new Date().getSeconds();
                var sdegree = seconds * 6;
                var srotate = "rotate(" + sdegree + "deg)";

                $("#sec").css({ "-moz-transform": srotate, "-webkit-transform": srotate, "-ms-transform": srotate });

            }, 1000);


            setInterval(function () {
                var hours = new Date().getHours();
                var mins = new Date().getMinutes();
                var hdegree = hours * 30 + (mins / 2);
                var hrotate = "rotate(" + hdegree + "deg)";

                $("#hour").css({ "-moz-transform": hrotate, "-webkit-transform": hrotate, "-ms-transform": hrotate });

            }, 1000);


            setInterval(function () {
                var mins = new Date().getMinutes();
                var mdegree = mins * 6;
                var mrotate = "rotate(" + mdegree + "deg)";

                $("#min").css({ "-moz-transform": mrotate, "-webkit-transform": mrotate, "-ms-transform": mrotate });

            }, 1000);

        });

    </script>
}

















